@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
body {
  padding: 0px !important;
  margin: 0px !important; }
  body #main {
    position: fixed; }
  body #header-wrap {
    background-color: black; }
    body #header-wrap img {
      margin-top: 10px;
      height: 70px;
      border-right: 1px solid white;
      box-sizing: border-box;
      padding-right: 25px; }
      @media screen and (max-width: 768px) {
        body #header-wrap img {
          border-right: none;
          padding-right: 0; } }
    body #header-wrap p {
      padding-left: 40px;
      color: aqua;
      margin-top: 5px;
      font-size: 50px; }
      @media screen and (max-width: 900px) {
        body #header-wrap p {
          padding-left: 100px; } }
      @media screen and (max-width: 768px) {
        body #header-wrap p {
          padding-left: 0px;
          font-size: 20px; } }
    @media screen and (max-width: 768px) {
      body #header-wrap {
        text-align: center; } }
  body #content-wrap {
    position: relative;
    height: 65vh; }
    @media screen and (max-width: 575px) {
      body #content-wrap {
        height: 50vh; } }
    body #content-wrap #form-wrap {
      max-height: 90%;
      overflow: auto;
      position: absolute;
      top: 12%;
      left: 12%;
      min-height: 77vh;
      z-index: 5000000; }
      @media screen and (max-width: 575px) {
        body #content-wrap #form-wrap {
          min-height: 65vh;
          left: 5%; } }
    body #content-wrap #grey-form {
      padding: 5% 7%;
      padding-top: 70px;
      background-color: rgba(82, 82, 82, 0.658);
      min-height: 90%; }
    body #content-wrap .content-bg {
      height: 45vh; }
    body #content-wrap .blue {
      height: 50vh;
      background-color: #06f7ff; }
    body #content-wrap .form-input {
      width: 70%;
      color: white;
      margin-left: 10px;
      background-color: rgba(240, 248, 255, 0);
      border: none;
      border-bottom: 1px solid white;
      outline: none;
      margin-bottom: 40px; }
    @media screen and (max-width: 575px) {
      body #content-wrap .company-form-input {
        width: 60%; } }
    @media screen and (max-width: 575px) {
      body #content-wrap .product-form-input {
        width: 62%; } }
    body #content-wrap input::placeholder {
      color: rgba(255, 255, 255, 0.692); }
    body #content-wrap .label {
      color: white; }

.rating-wrapper {
  display: flex;
  align-items: center; }

  @media screen and (max-width: 768px) {
    .rating-wrapper-12 {
      display: block;
      align-items: center; } }

  
.rate-parent-label {
  margin-top: 30px;
  margin-bottom: 10px;
}

#comment-wrapper {
  margin-top: 30px; }
  #comment-wrapper input {
    width: 80% !important; }

::-webkit-scrollbar {
  display: none !important; }

#recommend-wrapper #radio-parent {
  padding-top: 10px; }
  #recommend-wrapper #radio-parent span {
    color: rgba(255, 255, 255, 0.596);
    display: inline;
    padding: 0 8%; }
    @media screen and (max-width: 575px) {
      #recommend-wrapper #radio-parent span {
        display: inline-block !important; } }
    #recommend-wrapper #radio-parent span input {
      margin-left: 20px; }
      @media screen and (max-width: 575px) {
        #recommend-wrapper #radio-parent span input {
          margin-left: 0px; } }

.rating {
  display: inline;
  padding-left: 10px; }

  @media screen and (max-width: 768px) {
    .rating {
      display: block; } }

#submit-wrapper {
  padding: 20px 0;
  text-align: center; }
  #submit-wrapper button {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #616161;
    padding: 5px 50px;
    cursor: pointer; }

fieldset, label {
  margin: 0;
  padding: 0; }

body {
  margin: 20px; }

h1 {
  font-size: 1.5em;
  margin: 10px; }

/****** Style Star Rating Widget *****/
.rating {
  border: none; }

.rating > input {
  display: none; }

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  content: "\f2dc";
  font-weight: lighter; }

.rating > .half:before {
  content: "\f2dc";
  position: absolute;
  font-weight: lighter; }

.rating > label {
  color: #ddd;
  float: right; }

  
@media screen and (max-width: 768px) {
  .rating-wrapper-12 > .rating > label {
      color: #ddd;
      float: left!important;
  }
  .rating-wrapper-12 > fieldset {
    padding-left: 0px; 
  }
 }

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #05cdff; }

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #05cdff; }

  ::placeholder { color: rgb(255, 151, 151)!important; }
  select {
    border: none;
    outline: none;
  }
  option {
    outline: none;
    background-color: #333333;
    color: white;
    border: none;
    font-size: 13px;
    padding: 10px 10px;
  }

  #toast-container {
    background-color: rgba(226, 200, 200, 0);
}

.toast-error {
  background-color: rgb(255, 61, 61)!important;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.dim
{
    display: none;
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:100 !important;
    background-color:black; 
    filter: alpha(opacity=95); /* internet explorer */
    -khtml-opacity: 0.95;      /* khtml, old safari */
    -moz-opacity: 0.95;       /* mozilla, netscape */
    opacity: 0.95;           /* fx, safari, opera */
}

.msg {
    display:inline-block;
    position: absolute;
    
    width: 400px;
    height: 100px;
    top: 0; 
    bottom: 0; 
    left: 0; 
    text-align: center;
    right: 0;
    margin: auto;
}

@media screen and (max-width: 575px) {
  .msg {
    width: 300px; } }

#success-msg {
  filter: alpha(opacity=100); /* internet explorer */
  -khtml-opacity: 1!important;      /* khtml, old safari */
  -moz-opacity: 1!important;       /* mozilla, netscape */
  opacity: 1!important;           /* fx, safari, opera */
  background: white;
  color: black;
  min-height: 200px;
  text-align: center;
  padding-top: 30px;
}



.checkmark {
  width: 50px;
  margin: 0 auto;
  padding-top: 40px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 2s ease-in-out;
  -webkit-animation: dash 2s ease-in-out;
}

.spin {
  animation: spin 2s;
  -webkit-animation: spin 2s;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

#succes-text {
  font-family: sans-serif;
  color: rgb(124, 255, 141);
  font-size: 30px;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
  animation: text .5s linear .4s;
  -webkit-animation: text .4s linear .3s;
}

@-webkit-keyframes dash {
 0% {
   stroke-dashoffset: 1000;
 }
 100% {
   stroke-dashoffset: 0;
 }
}

@keyframes dash {
 0% {
   stroke-dashoffset: 1000;
 }
 100% {
   stroke-dashoffset: 0;
 }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
  }

  
  @keyframes text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
  }
}

input:-webkit-autofill {
  color: #2a2a2a !important;
}

